.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  &__arrow {
    position: absolute;
    top: 50%;
    margin-left: 5px;
    transform: translateY(-50%);
    opacity: 0;
  }

  &__link {
    display: block;
    position: relative;
    gap: 7px;
    margin-bottom: 40px;
    text-decoration: none;
    font-family: 'Play';
    font-size: 32px;
    line-height: 140%;
    color: #ffffff;
    opacity: 0.5;

    &:hover {
      background: radial-gradient(80.07% 273.88% at 63.65% 38.06%, #e2ff00 0%, #0d1011 100%),
        #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      opacity: 0.9;

      & > .navigation__arrow {
        opacity: 1;
      }
    }

    &.active {
      background: radial-gradient(80.07% 273.88% at 63.65% 38.06%, #e2ff00 0%, #0d1011 100%),
        #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      opacity: 0.9;
    }
  }
}

.menu {
  padding-bottom: 32px;
  height: 100vh;
  flex-grow: 2;
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 8px;
    height: 100vh;

    @media screen and (min-width: 769px) {
      padding: 0 100px;
    }
  }

  &_night-mode {
    & .navigation__link {
      font-family: 'Furore';
      color: #ffffff;
      opacity: 0.7;
      font-size: 25px;
      line-height: 140%;
      &:hover,
      &.active {
        background: transparent;
        background-clip: none;
        -webkit-text-fill-color: #ffffff;

        & > .navigation__arrow {
          display: none;
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 1.5px;
        background: linear-gradient(to left, #ffffff, #000000);
      }

      &.active::before {
        width: 100%;
        transition: width 0.35s;
      }

      &:hover {
        opacity: 1;
      }
    }
    & .links__link {
      position: relative;
      font-family: 'Furore';
      color: #ffffff;
      opacity: 0.7;
      margin-bottom: 40px;
      font-size: 25px;
      line-height: 140%;

      &:hover {
        opacity: 1;
      }

      &.active {
        background: transparent;
        background-clip: none;
        -webkit-text-fill-color: #ffffff;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 1.5px;
        background: linear-gradient(to left, #ffffff, #000000);
      }

      &.active::before {
        width: 100%;
        transition: width 0.35s;
      }
    }
  }
}

.links {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 32px;
  color: white;
  &__wrapper {
    display: flex;
    gap: 30px;
  }

  &__link {
    text-decoration: none;
    font-family: 'Play';
    font-size: 24px;
    line-height: 140%;
    color: #ffffff;
    opacity: 0.5;

    &.active {
      background: radial-gradient(80.07% 273.88% at 63.65% 38.06%, #e2ff00 0%, #0d1011 100%),
        #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      opacity: 0.9;
    }
  }

  &__description {
    width: 262px;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 160%;
    color: #ffffff;
    opacity: 0.3;
  }
}
